<section class="section albums">
  <div class="container">
    <h1 class="title">Albums</h1>
    <h2 class="subtitle">(1,266 Albums)</h2>
    <hr>

    <nav class="pagination is-small is-centered">
      <ul class="pagination-list">
        <li><a class="pagination-link is-current">All</a></li>
        <% ("A".."Z").each do |letter| %>
          <li><a class="pagination-link"><%= letter %></a></li>
        <% end %>
        <li>
          <a class="pagination-link has-tooltip-arrow" data-behavior="album-random-link-target" data-tooltip="Random">
            <%= fa_icon "random" %>
          </a>
        </li>
        <li>
          <a class="pagination-link has-tooltip-arrow" data-behavior="album-filter-link-target" data-tooltip="Filter">
            <%= fa_icon "filter" %>
          </a>
        </li>
        <li>
          <a class="pagination-link has-tooltip-arrow" data-behavior="album-search-link-target" data-tooltip="Search">
            <%= fa_icon "search" %>
          </a>
        </li>
      </ul>
    </nav>

    <div class="columns filter" data-behavior="album-filter-form-target" style="display: none;">
      <div class="column has-text-centered is-one-fifth">
        <div class="field">
          <label class="label is-small has-text-grey">Genre</label>
          <div class="select">
            <select>
              <option>Choose</option>
              <option value="AOR">AOR</option>
              <option value="Acid Jazz">Acid Jazz</option>
              <option value="Alternative">Alternative</option>
              <option value="Alternative Metal">Alternative Metal</option>
              <option value="Art Rock">Art Rock</option>
              <option value="Blues">Blues</option>
              <option value="Classic Rock">Classic Rock</option>
              <option value="Classical">Classical</option>
              <option value="Country">Country</option>
              <option value="Disco">Disco</option>
              <option value="Downtempo">Downtempo</option>
              <option value="Easy Listening">Easy Listening</option>
              <option value="Electronic">Electronic</option>
              <option value="Folk">Folk</option>
              <option value="Freestyle">Freestyle</option>
              <option value="Funk">Funk</option>
              <option value="Glam Metal">Glam Metal</option>
              <option value="Grunge">Grunge</option>
              <option value="Hard Rock">Hard Rock</option>
              <option value="House">House</option>
              <option value="Metal">Metal</option>
              <option value="Pop">Pop</option>
              <option value="Power Metal">Power Metal</option>
              <option value="Progressive Metal">Progressive Metal</option>
              <option value="Progressive Rock">Progressive Rock</option>
              <option value="R&amp;B">R&amp;B</option>
              <option value="Rock">Rock</option>
              <option value="Rock &amp; Roll">Rock &amp; Roll</option>
              <option value="Soul">Soul</option>
              <option value="Soundtrack">Soundtrack</option>
              <option value="Southern Rock">Southern Rock</option>
              <option value="Stoner Rock">Stoner Rock</option>
              <option value="Symphonic Metal">Symphonic Metal</option>
              <option value="Symphonic Rock">Symphonic Rock</option></select>
            </select>
          </div>
        </div>
      </div>

      <div class="column has-text-centered is-one-fifth">
        <div class="field">
          <label class="label is-small has-text-grey">Year(s)</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
        </div>
      </div>

      <div class="column has-text-centered is-one-fifth">
        <div class="field">
          <label class="label is-small has-text-grey">Sort</label>
          <div class="control has-text-centered">
            <label class="radio">
              <input type="radio" name="year" checked>
              Title
            </label>
            <label class="radio">
              <input type="radio" name="year">
              Year
            </label>
          </div>
        </div>
      </div>

      <div class="column has-text-centered is-one-fifth">
        <div class="field">
          <label class="label is-small has-text-grey">Order</label>
          <div class="control has-text-centered">
            <label class="radio">
              <input type="radio" name="order" checked>
              Ascend 
            </label>
            <label class="radio">
              <input type="radio" name="order">
              Descend
            </label>
          </div>
        </div>
      </div>

      <div class="column is-one-fifth is-centered">
        <div class="field">
          <div class="control has-text-centered">
            <button class="button is-link" data-behavior="album-filter-select-target">Select</button>
          </div>
        </div>
      </div>
    </div>

    <div class="columns" data-behavior="album-search-form-target" style="display: none;">
      <div class="column is-8 is-offset-2">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Search albums..." data-behavior="album-search-field-target">
          </div>
          <div class="control">
            <a class="button is-white">
              <span class="icon">
                <%= fa_icon("search") %>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-desktop is-multiline">

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/93/small_Ayreon--01011001.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "01011001", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by 
                  <%= link_to "Ayreon", artist_path %>
                  <span class="is-size-6 has-text-grey">(15 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "2008" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Progressive Metal" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "6" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Age Of Shadows</li>
                  <li>2. Comatose</li>
                  <li>3. Liquid Eternity</li>
                  <li>4. Connect The Dots</li>
                  <li>5. Beneath The Waves</li>
                  <li>6. Newborn Race</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1152/small_Various--100_Essential_1980s.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "100 Essential 1980s", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Various", artist_path %>
                  <span class="is-size-6 has-text-grey">(100 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "2008" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Pop" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "38" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Soft Cell - Tainted Love</li>
                  <li>2. Yazz - The Only Way Is Up</li>
                  <li>3. Kool &amp; The Gang - Get Down On It</li>
                  <li>4. Cameo - Word Up</li>
                  <li>5. Commodores - Nightshift</li>
                  <li>6. Leon Haywood - Don&#39;t Push It Don&#39;t Force It</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/122/small_Beyond_Twilight--For_The_Love_Of_Art_And_The_Making.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "For The Love Of Art And The Making", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Beyond Twilight", artist_path %>
                  <span class="is-size-6 has-text-grey">(43 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "2006" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Metal" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "26" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. In The Eyes Of My Soul (First Movement)</li>
                  <li>2. Creep Evil</li>
                  <li>3. Sleeping Beauty - The Journey</li>
                  <li>4. Purity</li>
                  <li>5. Sleeping Beauty - Connected</li>
                  <li>6. Tongue Angel</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/683/small_Meat_Loaf--Bat_Out_Of_Hell_II_Back_Into_Hell.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "Bat Out Of Hell II: Back Into Hell", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Meat Loaf", artist_path %>
                  <span class="is-size-6 has-text-grey">(43 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1993" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Rock" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "23" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. I&#39;d Do Anything For Love (But I Won&#39;t Do That)</li>
                  <li>2. Life Is A Lemon And I Want My Money Back</li>
                  <li>3. Rock And Roll Dreams Come Through</li>
                  <li>4. It Just Won&#39;t Quit</li>
                  <li>5. Out Of The Frying Pan (And Into The Fire)</li>
                  <li>6. Objects In The Rear View Mirror May Appear Closer Than They Are</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1039/small_The_Beatles--1.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "1", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "The Beatles", artist_path %>
                  <span class="is-size-6 has-text-grey">(27 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1993" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Rock" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "23" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Love Me Do</li>
                  <li>2. From Me To You</li>
                  <li>3. She Loves You</li>
                  <li>4. I Want To Hold Your Hand</li>
                  <li>5. Can’t Buy Me Love</li>
                  <li>6. A Hard Day’s Night</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1151/small_Various--100_Best_Film_Classics.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "100 Best Film Classics", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Various", artist_path %>
                  <span class="is-size-6 has-text-grey">(100 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1993" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Classical" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "23" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Richard Strauss - 2001: A Space Odyssey</li>
                  <li>2. Wagner - Apocalypse Now</li>
                  <li>3. Mozart - Amadeus</li>
                  <li>4. James Horner - Titanic</li>
                  <li>5. John Barry - You Only Live Twice</li>
                  <li>6. John Williams - Star Wars</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1145/small_Van_Halen--1984.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "1984", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Van Halen", artist_path %>
                  <span class="is-size-6 has-text-grey">(9 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1993" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Hard Rock" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "23" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. 1984</li>
                  <li>2. Jump</li>
                  <li>3. Panama</li>
                  <li>4. Top Jimmy</li>
                  <li>5. Drop Dead Legs</li>
                  <li>6. Hot For Teacher</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1194/small_Whitesnake--1987.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "1987", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Whitesnake", artist_path %>
                  <span class="is-size-6 has-text-grey">(10 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1993" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Hard Rock" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "23" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Still Of The Night</li>
                  <li>2. Bad Boys</li>
                  <li>3. Give Me All Your Love</li>
                  <li>4. Looking For Love</li>
                  <li>5. Crying In The Rain</li>
                  <li>6. Is This Love</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/323/small_Elvis_Presley--24_Karat_Hits.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "24 Karat Hits!", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Elvis Presley", artist_path %>
                  <span class="is-size-6 has-text-grey">(21 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1997" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Rock & Roll" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "23" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Hound Dog</li>
                  <li>2. Love Me Tender</li>
                  <li>3. All Shook Up</li>
                  <li>4. (Let Me Be Your) Teddy Bear</li>
                  <li>5. Jailhouse Rock</li>
                  <li>6. Wear My Ring Around Your Neck</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/126/small_Billy_Joel--52nd_Street.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "52nd Street", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Billy Joel", artist_path %>
                  <span class="is-size-6 has-text-grey">(9 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1978" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Rock" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "14" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Big Shot</li>
                  <li>2. Honesty</li>
                  <li>3. My Life</li>
                  <li>4. Zanzibar</li>
                  <li>5. Stiletto</li>
                  <li>6. Rosalinda&#39;s Eyes</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/287/small_Dream_Theater--A_Change_Of_Seasons.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "A Change Of Seasons", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Dream Theater", artist_path %>
                  <span class="is-size-6 has-text-grey">(5 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1995" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Progressive Metal" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "24" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. A Change Of Seasons</li>
                  <li>2. Funeral For A Friend / Love Lies Bleeding</li>
                  <li>3. Perfect Strangers</li>
                  <li>4. The Rover / Achilles Last Stand / The Song Remains The Same</li>
                  <li>5. The Big Medley</li>
                  <li>&nbsp;</li>
                  <li>&nbsp;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1079/small_The_SOS_Band--SOS_Band_III.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "S.O.S. Band III", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "The S.O.S. Band", artist_path %>
                  <span class="is-size-6 has-text-grey">(9 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1982" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "R&B" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "4" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Can&#39;t Get Enough</li>
                  <li>2. High Hopes</li>
                  <li>3. Have It Your Way</li>
                  <li>4. Your Love (It&#39;s The Only One For Me)</li>
                  <li>5. Good N Plenty</li>
                  <li>6. Looking For You</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1115/small_Transatlantic--SMPTe.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "SMPTe", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Transatlantic", artist_path %>
                  <span class="is-size-6 has-text-grey">(9 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "2000" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Progressive Rock" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "14" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. All Of The Above</li>
                  <li>2. We All Need Some Light</li>
                  <li>3. Mystery Train</li>
                  <li>4. My New World</li>
                  <li>5. In Held (Twas) In I</li>
                  <li>&nbsp;</li>
                  <li>&nbsp;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/148/small_Black_Sabbath--Sabbath_Bloody_Sabbath.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "Sabbath Bloody Sabbath", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Black Sabbath", artist_path %>
                  <span class="is-size-6 has-text-grey">(8 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1973" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Metal" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "14" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Sabbath Bloody Sabbath</li>
                  <li>2. A National Acrobat</li>
                  <li>3. Fluff</li>
                  <li>4. Sabbra Cadabra</li>
                  <li>5. Killing Yourself To Live</li>
                  <li>6. Who Are You?</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/545/small_Judas_Priest--Sad_Wings_Of_Destiny.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "Sad Wings Of Destiny", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Judas Priest", artist_path %>
                  <span class="is-size-6 has-text-grey">(9 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1976" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Metal" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "11" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Victim Of Changes</li>
                  <li>2. The Ripper</li>
                  <li>3. Dreamer Deceiver</li>
                  <li>4. Deceiver</li>
                  <li>5. Prelude</li>
                  <li>6. Tyrant</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1220/small_Wuthering_Heights--Salt.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "Salt", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Wuthering Heights", artist_path %>
                  <span class="is-size-6 has-text-grey">(9 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "2010" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "metal" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "12" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Away!</li>
                  <li>2. The Desperate Poet</li>
                  <li>3. The Mad Sailor</li>
                  <li>4. The Last Tribe (Mother Earth)</li>
                  <li>5. Tears</li>
                  <li>6. Weather The Storm</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1078/small_The_SOS_Band--Sands_Of_Time.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "Sands Of Time", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "The S.O.S. Band", artist_path %>
                  <span class="is-size-6 has-text-grey">(9 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1986" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "R&B" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "14" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Even When You Sleep</li>
                  <li>2. Sands Of Time</li>
                  <li>3. Borrowed Love</li>
                  <li>4. Nothing But The Best</li>
                  <li>5. The Finest</li>
                  <li>6. No Lies</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1161/small_Various--Saturday_Night_Fever_Soundtrack.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "Saturday Night Fever Soundtrack", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Various", artist_path %>
                  <span class="is-size-6 has-text-grey">(17 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1977" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Disco" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "14" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. Bee Gees - Stayin&#39; Alive</li>
                  <li>2. Bee Gees - How Deep Is Your Love</li>
                  <li>3. Bee Gees - Night Fever</li>
                  <li>4. Bee Gees - More Than A Woman</li>
                  <li>5. Yvonne Elliman - If I Can&#39;t Have You</li>
                  <li>6. Walter Murphy - A Fifth Of Beethoven</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/973/small_Steve_Walsh--SchemerDreamer.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "Schemer-Dreamer", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Steve Walsh", artist_path %>
                  <span class="is-size-6 has-text-grey">(7 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1980" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Rock" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "14" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. That&#39;s All Right</li>
                  <li>2. Get Too Far</li>
                  <li>3. So Many Nights</li>
                  <li>4. You Think You Got It Made</li>
                  <li>5. Every Step Of The Way</li>
                  <li>6. Just How It Feels</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half-desktop album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= link_to album_path do %>
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/50/small_Alice_Cooper--Schools_Out.jpg">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="has-text-centered has-text-weight-light">
                <div class="is-size-3 is-text-overflow">
                  <%= link_to "School's Out", album_path %>
                </div>
                <div class="is-size-5 is-text-overflow">
                  by
                  <%= link_to "Alice Cooper", artist_path %>
                  <span class="is-size-6 has-text-grey">(9 tracks)</span>
                </div>
                <div class="icons">
                  <div class="is-size-7">
                    <%= link_to albums_path do %>
                      <%= fa_icon "calendar", text: "1978" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "tag", text: "Classic Rock" %>
                    <% end %>
                    <%= link_to albums_path do %>
                      <%= fa_icon "comment-o", text: "14" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="content">
                <ul>
                  <li>1. School&#39;s Out</li>
                  <li>2. Luney Tune</li>
                  <li>3. Gutter Cat Vs. The Jets</li>
                  <li>4. Street Fight</li>
                  <li>5. Blue Turk</li>
                  <li>6. My Stars</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <nav class="pagination is-small">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link">1</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link">45</a>
        </li>
        <li>
          <a class="pagination-link is-current">46</a>
        </li>
        <li>
          <a class="pagination-link">47</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link">86</a>
        </li>
      </ul>
    </nav>

  </div>
</section>
