<section id="artists" class="section">
  <div class="container">
    <div class="is-pulled-left">
      <h1 class="title">Artists</h1>
      <h2 class="subtitle">(582 Artists)</h2>
    </div>
    <% if signed_in? %>
      <div class="is-pulled-right mt-3">
      <%= link_to new_artist_path, class: "button is-link" do %>
        <%= fa_icon "plus"%>&nbsp;Artist
      <% end %>
      </div>
    <% end %>
    <div class="is-clearfix"></div>
    <hr>

    <nav class="pagination is-small is-centered">
      <ul class="pagination-list">
        <li><a class="pagination-link is-current">All</a></li>
        <% ("A".."Z").each do |letter| %>
          <li><a class="pagination-link"><%= letter %></a></li>
        <% end %>
        <li>
          <a class="pagination-link has-tooltip-arrow" data-behavior="artist-search-link-target" data-tooltip="Search">
            <%= fa_icon "search" %>
          </a>
        </li>
      </ul>
    </nav>

    <div class="columns" data-behavior="artist-search-form-target" style="display: none;">
      <div class="column is-8 is-offset-2">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Search albums..." data-behavior="artist-search-field-target">
          </div>
          <div class="control">
            <a class="button is-white">
              <span class="icon">
                <%= fa_icon("search") %>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-four-fifths-desktop">

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                1st Avenue
              </div>
              <div class="mt-2">
                1st Avenue were a Dutch AOR Hard Rock band that were active in the early 90s. Their first album 'Tears and Triumph' was written and arranged by Robby Valentine.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "2" %>
                <%= fa_icon "comment-o", text: "6", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                A.C.T
              </div>
              <div class="mt-2">
                A.C.T is a Swedish progressive rock band formed in 1995 under the name 'Fairyland', in Malmo.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "2" %>
                <%= fa_icon "comment-o", text: "6", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                ABBA
              </div>
              <div class="mt-2">
                ABBA were a Swedish pop group formed in Stockholm in 1972 by members Agnetha Faltskog, Bjorn Ulvaeus, Benny Andersson, and Anni-Frid Lyngstad. They became one of the most commercially successful acts in the history of popular music, topping the charts worldwide from 1974 to 1982.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "2" %>
                <%= fa_icon "comment-o", text: "6", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                AC/DC
              </div>
              <div class="mt-2">
                AC/DC are an Australian hard rock band, formed in November 1973 by brothers Malcolm and Angus Young, who continued as members until Malcolm's illness and departure in 2014.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "2" %>
                <%= fa_icon "comment-o", text: "6", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Aerosmith
              </div>
              <div class="mt-2">
                Aerosmith is an American rock band. Their style, which is rooted in blues-based hard rock, has come to also incorporate elements of pop, heavy metal, and rhythm and blues, and has inspired many subsequent rock artists. The band was formed in Boston, Massachusetts in 1970.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "2" %>
                <%= fa_icon "comment-o", text: "6", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Alice Cooper
              </div>
              <div class="mt-2">
                Alice Cooper is an American singer, songwriter, musician and occasional actor whose career spans over five decades. With his distinctive raspy voice and a stage show that features guillotines, electric chairs, fake blood, deadly snakes, baby dolls, and dueling swords, Cooper is considered by music journalists and peers alike to be 'The Godfather of Shock Rock'.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "7" %>
                <%= fa_icon "comment-o", text: "57", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Bad Company
              </div>
              <div class="mt-2">
                Bad Company are an English hard rock supergroup formed in Westminster, London, in 1973 by two former Free band members—singer Paul Rodgers and drummer Simon Kirke—as well as Mott the Hoople guitarist Mick Ralphs and King Crimson bassist Boz Burrell. Peter Grant, who managed the rock band Led Zeppelin, also managed Bad Company until 1982.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "5" %>
                <%= fa_icon "comment-o", text: "12", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Bee Gees
              </div>
              <div class="mt-2">
                The Bee Gees were a pop music group formed in 1958. Their line-up consisted of brothers Barry, Robin and Maurice Gibb. The trio were successful for most of their decades of recording music, but they had two distinct periods of exceptional success; as a popular music act in the late 1960s and early 1970s, and as prominent performers of the disco music era in the late 1970s.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "4" %>
                <%= fa_icon "comment-o", text: "36", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Billy Idol
              </div>
              <div class="mt-2">
                William Michael Albert Broad, known professionally as Billy Idol, is an English musician, singer, songwriter and actor. He first achieved fame in the 1970s as a member of the punk rock band Generation X. Subsequently, he embarked on a solo career which led to an international recognition and made Idol one of the lead artists during the MTV-driven 'Second British Invasion' in the United States. 
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "7" %>
                <%= fa_icon "comment-o", text: "7", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Billy Joel
              </div>
              <div class="mt-2">
                William Martin 'Billy' Joel is an American pianist, singer-songwriter, and composer. Since releasing his first hit song, 'Piano Man', in 1973, Joel has become the sixth best-selling recording artist and the third best-selling solo artist in the United States. His compilation album Greatest Hits Vol. 1 & 2 is one of the best-selling albums in the US.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "5" %>
                <%= fa_icon "comment-o", text: "29", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Black Sabbath
              </div>
              <div class="mt-2">
                Black Sabbath are an English rock band, formed in Birmingham in 1968, by guitarist and main songwriter Tony Iommi, bassist and main lyricist Geezer Butler, singer Ozzy Osbourne, and drummer Bill Ward. The band have since experienced multiple line-up changes, with guitarist Iommi being the only constant presence in the band through the years. 
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "15" %>
                <%= fa_icon "comment-o", text: "18", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Chris Isaak
              </div>
              <div class="mt-2">
                Christopher Joseph 'Chris' Isaak is an American rock musician and occasional actor. He is best known for his hit 'Wicked Game', as well as the popular hit songs 'Baby Did A Bad, Bad Thing' and 'Somebody's Crying'. He is renowned for his signature 1950s rock & roll style and crooner sound.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "2" %>
                <%= fa_icon "comment-o", text: "10", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Cowboy Junkies
              </div>
              <div class="mt-2">
                Cowboy Junkies are a Canadian alternative country/blues/folk rock band. The group was formed in Toronto in 1985 by Margo Timmins (vocalist), Michael Timmins (songwriter, guitarist), Peter Timmins (drummer) and Alan Anton (bassist).
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "1" %>
                <%= fa_icon "comment-o", text: "19", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                David Bowie
              </div>
              <div class="mt-2">
                David Robert Jones, known as David Bowie, was an English singer, songwriter, actor and record producer. He was a figure in popular music for over five decades, considered by critics and musicians as an innovator, particularly for his work in the 1970s.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "2" %>
                <%= fa_icon "comment-o", text: "34", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Deep Purple
              </div>
              <div class="mt-2">
                Deep Purple are an English rock band formed in Hertford in 1968. They are considered to be among the pioneers of heavy metal and modern hard rock, although their musical approach changed over the years.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "4" %>
                <%= fa_icon "comment-o", text: "42", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Dio
              </div>
              <div class="mt-2">
                Dio was an American heavy metal band formed in 1982 and led by vocalist Ronnie James Dio, after he left Black Sabbath with intentions to form a new band with fellow former Black Sabbath member, drummer Vinny Appice. The name Dio was chosen because it made sense from a commercial standpoint, as the name was already well known at that time.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "6" %>
                <%= fa_icon "comment-o", text: "25", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Donna Summer
              </div>
              <div class="mt-2">
                LaDonna Adrian Gaines known by her stage name Donna Summer, was an American singer, songwriter, and painter. She gained prominence during the disco era of the late-1970s. A five-time Grammy Award winner, she was the first artist to have three consecutive double albums reach No. 1 on the United States Billboard album chart and charted four number-one singles in the U.S. within a 12-month period.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "4" %>
                <%= fa_icon "comment-o", text: "5", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Eagles
              </div>
              <div class="mt-2">
                The Eagles are an American rock band formed in Los Angeles in 1971 by Glenn Frey, Don Henley, Bernie Leadon, and Randy Meisner. With five number-one singles, six Grammy Awards, five American Music Awards, and six number one albums, the Eagles were one of the most successful musical acts of the 1970s. 
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "4" %>
                <%= fa_icon "comment-o", text: "37", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Earth, Wind & Fire
              </div>
              <div class="mt-2">
                Earth, Wind & Fire is an American band that has spanned the musical genres of R&B, soul, funk, jazz, disco, pop, rock, Latin and African. They are one of the most successful bands of the 20th century.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "2" %>
                <%= fa_icon "comment-o", text: "7", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Elton John
              </div>
              <div class="mt-2">
                Sir Elton Hercules John, is an English pianist, singer-songwriter and composer. He has worked with lyricist Bernie Taupin as his songwriting partner since 1967; they have collaborated on more than 30 albums to date. In his five-decade career Elton John has sold more than 300 million records, making him one of the best-selling music artists in the world. 
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "8" %>
                <%= fa_icon "comment-o", text: "49", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Eric Clapton
              </div>
              <div class="mt-2">
                Eric Patrick Clapton is an English rock and blues guitarist, singer and songwriter. He is the only three-time inductee to the Rock and Roll Hall of Fame; once as a solo artist and separately as a member of the Yardbirds and Cream. Clapton has been referred to as one of the most important and influential guitarists of all time.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "1" %>
                <%= fa_icon "comment-o", text: "9", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Europe
              </div>
              <div class="mt-2">
                Europe is a Swedish rock band formed in Upplands Väsby, Stockholm in 1979 under the name Force by vocalist Joey Tempest, guitarist John Norum, bassist Peter Olsson and drummer Tony Reno. Europe rose to international fame in the 1980s with its third album, 1986's The Final Countdown, which sold over three million copies in the United States. 
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "6" %>
                <%= fa_icon "comment-o", text: "17", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Fleetwood Mac
              </div>
              <div class="mt-2">
                Fleetwood Mac are a British-American rock band formed in July 1967, in London. The band have sold more than 100 million records worldwide, making them one of the best-selling bands of all time.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "3" %>
                <%= fa_icon "comment-o", text: "27", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                Gary Moore
              </div>
              <div class="mt-2">
                Robert William Gary Moore was a Northern Irish musician, most widely recognised as a singer, songwriter, and virtuoso rock and blues guitarist. In a career dating back to the 1960s, Moore played with musicians including Phil Lynott and Brian Downey during his teenage years, leading him to memberships of the Irish bands Skid Row and Thin Lizzy. Moore shared the stage with such blues and rock musicians as B.B. King, Albert King, Jack Bruce, Albert Collins, George Harrison, and Greg Lake, as well as having a successful solo career.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "12" %>
                <%= fa_icon "comment-o", text: "16", class: "ml-2" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="artist box">
          <%= link_to artist_path do %>
            <div class="px-5 py-5">
              <div class="is-size-3 has-text-weight-light">
                George Michael
              </div>
              <div class="mt-2">
                Georgios Kyriacos Panayiotou, known professionally by his stage name 'George Michael', was an English singer, songwriter, and record producer. He rose to fame during the 1980s and 1990s with his style of post disco dance pop. He has also been characterised as a blue eyed soul singer, although his material draws more from middle of the road pop than soul music.
              </div>
              <div class="icons is-size-7 mt-3">
                <%= fa_icon "music", text: "3" %>
                <%= fa_icon "comment-o", text: "48", class: "ml-2" %>
              </div>
            </div>
          <% end %>

        </div>

        <nav class="pagination is-small">
          <a class="pagination-previous">Previous</a>
          <a class="pagination-next">Next page</a>
          <ul class="pagination-list">
            <li>
              <a class="pagination-link">1</a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
              <a class="pagination-link">45</a>
            </li>
            <li>
              <a class="pagination-link is-current">46</a>
            </li>
            <li>
              <a class="pagination-link">47</a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
              <a class="pagination-link">86</a>
            </li>
          </ul>
        </nav>

      </div>

      <div id="artists-sidebar" class="column is-one-fifth-desktop is-hidden-touch">
        <div class="panel">
          <p class="panel-heading">
            New Albums
          </p>

          <%= link_to album_path, class: "panel-block" do %>
            <div class="album has-text-centered has-text-weight-light is-size-6 mt-2">
              <figure class="image is-inline-block is-96x96">
                <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1271/small_Psychotic_Waltz--The_GodShaped_Void.jpg">
              </figure>
              <div class="is-overflowed">
                The God-Shaped Void
              </div>
              <div class="is-overflowed mt-1">
                by Psychotic Waltz
              </div>
            </div>
          <% end %>

          <%= link_to album_path, class: "panel-block" do %>
            <div class="album has-text-centered has-text-weight-light is-size-6 mt-2">
              <figure class="image is-inline-block is-96x96">
                <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1270/small_Falconer--From_A_Dying_Ember.jpg">
              </figure>
              <div class="is-overflowed">
                From A Dying Ember
              </div>
              <div class="is-overflowed mt-1">
                by Falconer
              </div>
            </div>
          <% end %>

          <%= link_to album_path, class: "panel-block" do %>
            <div class="album has-text-centered has-text-weight-light is-size-6 mt-2">
              <figure class="image is-inline-block is-96x96">
                <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1268/small_Green_Carnation--Leaves_Of_Yesteryear.jpg">
              </figure>
              <div class="is-overflowed">
                Leaves Of Yesteryear
              </div>
              <div class="is-overflowed mt-1">
                by Green Carnation
              </div>
            </div>
          <% end %>

          <%= link_to album_path, class: "panel-block" do %>
            <div class="album has-text-centered has-text-weight-light is-size-6 mt-2">
              <figure class="image is-inline-block is-96x96">
                <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1265/small_Ashley_McBryde--Never_Will.jpg">
              </figure>
              <div class="is-overflowed">
                Never Will
              </div>
              <div class="is-overflowed mt-1">
                By Ashley McBryde
              </div>
            </div>
          <% end %>

          <%= link_to album_path, class: "panel-block" do %>
            <div class="album has-text-centered has-text-weight-light is-size-6 mt-2">
              <figure class="image is-inline-block is-96x96">
                <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1263/small_Nightwish--Human_II_Nature.jpg">
              </figure>
              <div class="is-overflowed">
                Human II Nature
              </div>
              <div class="is-overflowed mt-1">
                by Nightwish
              </div>
            </div>
          <% end %>

          <%= link_to album_path, class: "panel-block" do %>
            <div class="album has-text-centered has-text-weight-light is-size-6 mt-2">
              <figure class="image is-inline-block is-96x96">
                <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1254/small_Heat--Heat_II.jpg">
              </figure>
              <div class="is-overflowed">
                H.e.a.t II
              </div>
              <div class="is-overflowed mt-1">
                by H.e.a.t
              </div>
            </div>
          <% end %>

        </div>

        <div class="panel">
          <p class="panel-heading">
            New Comments
          </p>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/88884e5cb90c02031f031bc4760fcf69?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                bluz71
              </div>
              <div class="is-overflowed mt-1">
                in Liquid Monster
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/a3fac396421b05f2e3777d0427a1b100?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                hayley
              </div>
              <div class="is-overflowed mt-1">
                in Making Movies
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/c07a68329aff564e29916390f1025c8b?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                nella_schmeler
              </div>
              <div class="is-overflowed mt-1">
                in Abbey Road
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/f47856a042b5836c64922b387567ce21?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                well39
              </div>
              <div class="is-overflowed mt-1">
                in Let's Dance
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/ebfb6ad212e8a4aa457fdbaabf1f28b2?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                liza10
              </div>
              <div class="is-overflowed mt-1">
                in Voulez-Vous
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/f47856a042b5836c64922b387567ce21?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                ewell39
              </div>
              <div class="is-overflowed mt-1">
                in Dreamboat Annie
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/c07a68329aff564e29916390f1025c8b?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                nella_schmeler94
              </div>
              <div class="is-overflowed mt-1">
                in Bat Out Of Hell II: Back Into Hell
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/ed19bc66be299f0f0c5fdb38bc0978be?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                exi_terry39
              </div>
              <div class="is-overflowed mt-1">
                in Miracles
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/702376ea382866afea31a0931ca3e21f?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                filomena_cummings674
              </div>
              <div class="is-overflowed mt-1">
                in The Raging Fire
              </div>
            </div>
          <% end %>

          <%= link_to comments_path, class: "panel-block" do %>
            <div class="comment has-text-centered has-text-weight-light">
              <div class="is-size-7 mb-2">
                on Jul 25 from
              </div>
              <figure class="image is-inline-block is-64x64">
                <img class="is-rounded" src="https://gravatar.com/avatar/d257988953d6417461b37bda574eee2a?s=80&r=pg&d=identicon">
              </figure>
              <div class="is-overflowed">
                raymundo39
              </div>
              <div class="is-overflowed mt-1">
                in Making Movies
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>


  </div>
</section>
