<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h1 class="title">Comments</h1>
        <h2 class="subtitle mb-0">
          (951 Comments)
        </h2>
        <div class="divider"></div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in The J. Geils Band /</span>
                <%= link_to "Freeze Frame", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                yesterday at 2:53pm
              </div>
              <div class="content">
                <p>
                  Knausgaard cronut farm-to-table marfa ugh twee carry. Butcher mixtape pug fashion axe pinterest master vegan you probably haven't heard of them. Tumblr microdosing wayfarers. Seitan drinking intelligentsia microdosing sustainable.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in XYZ /</span>
                <%= link_to "XYZ", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on May 16
              </div>
              <div class="content">
                <p>
                  Celiac microdosing quinoa. Celiac twee yuccie quinoa cold-pressed poutine. Taxidermy butcher bicycle rights thundercats kitsch bushwick 8-bit. Godard polaroid salvia cray street.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Jeff Buckley /</span>
                <%= link_to "Grace", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on May 16
              </div>
              <div class="content">
                <p>
                  Kickstarter letterpress heirloom ethical leggings. Five dollar toast sartorial gentrify. $@!#% pop-up hashtag paleo bushwick biodiesel try-hard readymade. Banh mi fixie polaroid cronut. Mixtape bitters distillery vice single-origin coffee +1.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Icehouse /</span>
                <%= link_to "Primitive Man", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Apr 18
              </div>
              <div class="content">
                <p>
                  Pickled photo booth meggings waistcoat. Tumblr meditation ugh letterpress. Wolf direct trade irony +1 biodiesel. Authentic bespoke flannel humblebrag stumptown.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in A.C.T /</span>
                <%= link_to "Silence", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Apr 4
              </div>
              <div class="content">
                <p>
                  Loko typewriter hashtag. Schlitz readymade poutine raw denim chicharrones hoodie forage. Pitchfork irony ennui mumblecore chicharrones bushwick.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Winger /</span>
                <%= link_to "Winger", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Blog you probably haven't heard of them cliche humblebrag kombucha echo ennui. Hoodie biodiesel fashion axe wayfarers. Pinterest squid cred shoreditch. Tousled post-ironic cardigan disrupt offal. Letterpress slow-carb whatever sartorial.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in The Brothers Johnson /</span>
                <%= link_to "Blam!!", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Ennui shoreditch chicharrones butcher kickstarter letterpress cliche bicycle rights. Locavore leggings readymade kinfolk. Loko church-key intelligentsia beard. Scenester vinyl tacos ethical. Pour-over biodiesel cray kombucha meggings taxidermy chicharrones.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in The Doobie Brothers /</span>
                <%= link_to "The Captain And Me", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Kinfolk schlitz banh mi deep v 3 wolf moon. Irony dreamcatcher letterpress. Locavore mlkshk you probably haven't heard of them. Asymmetrical mustache iphone deep v selfies direct trade fixie 90's.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Ratt /</span>
                <%= link_to "Invasion Of Your Privacy", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Taxidermy you probably haven't heard of them ugh mumblecore tofu plaid selvage. Small batch craft beer slow-carb biodiesel ethical schlitz pop-up pitchfork. Chartreuse vinegar kogi taxidermy. Stumptown vhs selvage bitters tacos aesthetic vegan.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in David Bowie /</span>
                <%= link_to "ChangesOneBowie", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Heirloom banh mi normcore offal dreamcatcher pbr&b truffaut scenester. Kogi fanny pack shoreditch biodiesel meh actually etsy. Lumbersexual taxidermy gastropub cliche helvetica 8-bit. Bespoke tousled food truck knausgaard. You probably haven't heard of them mlkshk 3 wolf moon port
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Bonnie Raitt /</span>
                <%= link_to "Luck Of The Draw", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Direct trade chillwave before they sold out locavore forage heirloom. Semiotics you probably haven't heard of them narwhal organic mixtape locavore crucifix. Deep v keffiyeh diy chambray.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Dream Theater /</span>
                <%= link_to "Once In A Livetime", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Single-origin coffee swag knausgaard chambray meditation vhs trust fund. Dreamcatcher pour-over drinking. Narwhal put a bird on it carry ramps mumblecore austin. Cronut street listicle cold-pressed wes anderson park plaid. Flannel biodiesel aesthetic.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Lisa Fischer /</span>
                <%= link_to "So Intense", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Cliche messenger bag lomo loko mustache food truck organic mumblecore. Hella mumblecore pitchfork. Crucifix literally intelligentsia artisan yr. Locavore microdosing crucifix kickstarter.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Lynyrd Skynyrd /</span>
                <%= link_to "Second Helping", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Celiac cronut bespoke umami williamsburg biodiesel. Kickstarter tumblr blue bottle aesthetic messenger bag. Tousled you probably haven't heard of them lo-fi hella franzen.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Morningstar /</span>
                <%= link_to "Morningstar", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Mar 25
              </div>
              <div class="content">
                <p>
                  Keffiyeh food truck pinterest ugh flexitarian wayfarers cold-pressed you probably haven't heard of them. Semiotics yolo portland stumptown ugh squid. Viral literally wes anderson portland swag selvage.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Vanden Plas /</span>
                <%= link_to "The Seraphic Clockwork", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Feb 18
              </div>
              <div class="content">
                <p>
                  Pop-up whatever dreamcatcher schlitz synth williamsburg skateboard. Asymmetrical wes anderson before they sold out chillwave fingerstache small batch kombucha tofu. Sartorial neutra occupy messenger bag fanny pack kinfolk. Cold-pressed direct trade heirloom small batch. Gluten-fre
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Mariah Carey /</span>
                <%= link_to "Emotions", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Feb 18
              </div>
              <div class="content">
                <p>
                  Seitan thundercats trust fund wolf disrupt 8-bit blog iphone. Vhs selfies meh. Messenger bag artisan selvage tilde.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Kamelot /</span>
                <%= link_to "The Black Halo", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Feb 18
              </div>
              <div class="content">
                <p>
                  Cardigan fingerstache heirloom literally selvage. Small batch freegan echo leggings messenger bag fanny pack literally. Dreamcatcher chillwave everyday messenger bag kitsch cleanse paleo kinfolk. 8-bit shabby chic small batch. Schlitz pinterest waistcoat chambray.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in Warlock /</span>
                <%= link_to "Triumph And Agony", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jan 09
              </div>
              <div class="content">
                <p>
                  Mlkshk before they sold out keffiyeh disrupt diy fixie etsy seitan. Semiotics pbr&b actually pork belly pitchfork locavore tousled wayfarers. Vegan 90's vhs migas typewriter. Hoodie freegan occupy normcore. Heirloom celiac xoxo deep v fanny pack forage selvage bitters.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/7c8739f947674ab8b9826471f74f274e?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kaleb_wilkinson92", comments_path %>
              </span>
              <span class="is-size-6">
                <span class="has-text-weight-light">posted in AC/DC /</span>
                <%= link_to "Rock Or Bust", album_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jan 04
              </div>
              <div class="content">
                <p>
                  Tumblr chia etsy. Tilde listicle meditation heirloom. Pork belly occupy next level bitters church-key try-hard marfa crucifix. Artisan 3 wolf moon put a bird on it hashtag vegan. Slow-carb quinoa meggings church-key.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="is-size-3 has-text-grey has-text-centered">
          <%= fa_icon "spinner pulse spin" %>
        </div>

      </div>
    </div>
  </div>
</section>
