<section id="album" class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="is-pulled-left">
          <h1 class="title">100 Essential 1980s</h1>
          <h2 class="subtitle mb-0">
            by
            <span>
              <%= link_to "Various", artist_path, class: "is-link-custom" %>
            </span>
          </h2>
        </div>
        <% if signed_in? %>
          <div class="is-pulled-right mt-5">
            <%= link_to artist_path, class: "button is-danger", method: :delete, data: {confirm: "Are you sure you want to remove Album?"} do %>
              <span class="icon">
                <%= fa_icon "remove" %>
              </span>
              <span>Remove</span>
            <% end %>
            <%= link_to new_album_path, class: "button is-link" do %>
              <span class="icon">
                <%= fa_icon "edit" %>
              </span>
              <span>Edit</span>
            <% end %>
          </div>
        <% end %>
        <div class="is-clearfix"></div>
        <div class="divider"></div>

        <div class="columns is-desktop">
          <div class="column is-two-fifths-desktop has-text-centered cover">
            <figure class="image is-inline-block">
              <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1152/Various--100_Essential_1980s.jpg">
            </figure>
          </div>
          <div class="column is-three-fifths-desktop tracks-column" x-data="{
              showAll: false,
              buttonText: 'Show all tracks',
              buttonIcon: '<i class=\'fa fa-angle-double-down\'></i>',
              toggleVisibility() {
                this.showAll = !this.showAll
                if (this.showAll) {
                  this.buttonText = 'Show less tracks'
                  this.buttonIcon = '<i class=\'fa fa-angle-double-up\'></i>'
                } else {
                  this.buttonText = 'Show more tracks'
                  this.buttonIcon = '<i class=\'fa fa-angle-double-down\'></i>'
                  $nextTick(() => $refs.scrollTarget.scrollIntoView({ block: 'end', inline: 'nearest', behavior: 'smooth' }))
                }
              }
            }"
          >
            <div class="is-size-4">
              100 Tracks
              <span class="is-size-6 has-text-grey">(Time 392:19)</span>
            </div>
            <div class="has-text-weight-light is-size-7 mt-3">
              <%= link_to albums_path, class: "is-link-custom" do %>
                <%= fa_icon "calendar", text: "2008" %>
              <% end %>
              <%= link_to albums_path, class: "is-link-custom" do %>
                <%= fa_icon "tag", text: "Pop", class: "ml-2" %>
              <% end %>
            </div>

            <table class="table is-striped is-fullwidth mt-3 is-size-7">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <th>Duration</th>
                </tr>
              </thead>
              <tbody>
                <tr class="visible">
                  <td>1.</td>
                  <td>Soft Cell - Tainted Love</td>
                  <td>2:39</td>
                </tr>
                <tr class="visible">
                  <td>2.</td>
                  <td>Yazz - The Only Way Is Up</td>
                  <td>4:28</td>
                </tr>
                <tr class="visible">
                  <td>3.</td>
                  <td>Kool &amp; The Gang - Get Down On It</td>
                  <td>3:32</td>
                </tr>
                <tr class="visible">
                  <td>4.</td>
                  <td>Cameo - Word Up</td>
                  <td>4:14</td>
                </tr>
                <tr class="visible">
                  <td>5.</td>
                  <td>Commodores - Nightshift</td>
                  <td>4:17</td>
                </tr>
                <tr class="visible">
                  <td>6.</td>
                  <td>Leon Haywood - Don&#39;t Push It Don&#39;t Force It</td>
                  <td>3:28</td>
                </tr>
                <tr class="visible">
                  <td>7.</td>
                  <td>Level 42 - Running In The Family</td>
                  <td>3:57</td>
                </tr>
                <tr class="visible">
                  <td>8.</td>
                  <td>Yarbrough &amp; People - Don&#39;t Stop The Music</td>
                  <td>3:33</td>
                </tr>
                <tr class="visible">
                  <td>9.</td>
                  <td>The Damned - Eloise</td>
                  <td>5:10</td>
                </tr>
                <tr class="visible">
                  <td>10.</td>
                  <td>Stephanie Mills - Never Knew Love Like This Before</td>
                  <td>3:25</td>
                </tr>
                <tr class="visible">
                  <td>11.</td>
                  <td>Jim Diamond - I Should Have Known Better</td>
                  <td>4:05</td>
                </tr>
                <tr class="visible">
                  <td>12.</td>
                  <td>Deep Purple - Perfect Strangers</td>
                  <td>4:11</td>
                </tr>
                <tr class="visible">
                  <td>13.</td>
                  <td>Cher - If I Could Turn Back Time</td>
                  <td>4:01</td>
                </tr>
                <tr class="visible">
                  <td>14.</td>
                  <td>Bobby Brown - My Prerogative</td>
                  <td>4:50</td>
                </tr>
                <tr class="visible">
                  <td>15.</td>
                  <td>The Beastie Boys - No Sleep Till Brooklyn</td>
                  <td>4:09</td>
                </tr>
                <tr class="visible">
                  <td>16.</td>
                  <td>Asia - Heat Of The Moment</td>
                  <td>3:50</td>
                </tr>
                <tr class="visible">
                  <td>17.</td>
                  <td>Chris De Burgh - Don&#39;t Pay The Ferryman</td>
                  <td>3:49</td>
                </tr>
                <tr class="visible">
                  <td>18.</td>
                  <td>Diana Ross - Upside Down</td>
                  <td>4:04</td>
                </tr>
                <tr class="visible">
                  <td>19.</td>
                  <td>Captain Sensible - Happy Talk</td>
                  <td>3:26</td>
                </tr>
                <tr class="visible">
                  <td>20.</td>
                  <td>Dexy Midnight Runners - Come On Eileen</td>
                  <td>4:03</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>21.</td>
                  <td>ABC - The Look Of Love</td>
                  <td>3:31</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>22.</td>
                  <td>Robert Palmer - Addicted To Love</td>
                  <td>3:50</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>23.</td>
                  <td>Kim Wilde - You Keep Me Hangin&#39; On</td>
                  <td>4:16</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>24.</td>
                  <td>Wet Wet Wet - Sweet Little Mystery</td>
                  <td>3:41</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>25.</td>
                  <td>Swing Out Sister - Breakout</td>
                  <td>3:45</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>26.</td>
                  <td>The Cure - Lullaby</td>
                  <td>4:11</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>27.</td>
                  <td>David Caddick - The Music Of The Night</td>
                  <td>5:16</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>28.</td>
                  <td>Hazel O&#39;Connor - Eighth Day</td>
                  <td>3:11</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>29.</td>
                  <td>Bruce Willis - Under The Boardwalk</td>
                  <td>3:04</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>30.</td>
                  <td>Mica Paris - My Own Temptation</td>
                  <td>4:21</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>31.</td>
                  <td>Rainbow - I Surrender</td>
                  <td>4:24</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>32.</td>
                  <td>Squeeze - Labelled With Love</td>
                  <td>4:31</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>33.</td>
                  <td>Joe Jackson - Steppin Out</td>
                  <td>4:15</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>34.</td>
                  <td>Gwen Guthrie - Ain&#39;t Nothin&#39; Goin&#39; On But The Rent</td>
                  <td>3:35</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>35.</td>
                  <td>Bucks Fizz - New Beginning (Mamba Seyra)</td>
                  <td>4:08</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>36.</td>
                  <td>Anthrax - I Am The Law</td>
                  <td>4:16</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>37.</td>
                  <td>Big Country - Look Away</td>
                  <td>4:26</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>38.</td>
                  <td>The Housemartins - Happy Hour</td>
                  <td>2:24</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>39.</td>
                  <td>Lionel Richie - Say You Say Me</td>
                  <td>4:04</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>40.</td>
                  <td>The Beastie Boys - Fight Four Your Right</td>
                  <td>3:31</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>41.</td>
                  <td>Tears For Fears - Shout</td>
                  <td>6:03</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>42.</td>
                  <td>Womack &amp; Womack - Teardrops</td>
                  <td>3:50</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>43.</td>
                  <td>The Beautiful South - Song For Whoever</td>
                  <td>4:05</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>44.</td>
                  <td>Grace Jones - Pull Up To The Bumper</td>
                  <td>3:41</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>45.</td>
                  <td>Tiffany - I Think We&#39;re Alone Now</td>
                  <td>3:46</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>46.</td>
                  <td>The Cure - Just Like Heaven</td>
                  <td>3:33</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>47.</td>
                  <td>Sam Brown - Stop</td>
                  <td>3:59</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>48.</td>
                  <td>Mary Jane Girls - In My House</td>
                  <td>4:01</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>49.</td>
                  <td>Nik Kershaw - Wouldn&#39;t It Be Good</td>
                  <td>4:36</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>50.</td>
                  <td>Eric B. &amp; Rakim - Follow The Leader</td>
                  <td>5:35</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>51.</td>
                  <td>Dan Hartman - I Can Dream About You</td>
                  <td>4:09</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>52.</td>
                  <td>Coast To Coast - (Do) The Hucklebuck</td>
                  <td>2:32</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>53.</td>
                  <td>Atlantic Starr - Secret Lovers</td>
                  <td>3:37</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>54.</td>
                  <td>Amazulu - Too Good To Be Forgotten</td>
                  <td>3:06</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>55.</td>
                  <td>The Christians - Harvest For The World</td>
                  <td>3:55</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>56.</td>
                  <td>The Jam - Town Called Malice</td>
                  <td>2:54</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>57.</td>
                  <td>Suzanne Vega - Marlene On The Wall</td>
                  <td>3:42</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>58.</td>
                  <td>The La&#39;s - There She Goes</td>
                  <td>2:44</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>59.</td>
                  <td>Status Quo - The Wanderer</td>
                  <td>3:28</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>60.</td>
                  <td>James Brown - Living In America</td>
                  <td>4:44</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>61.</td>
                  <td>Chris De Burgh - The Lady In Red</td>
                  <td>4:17</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>62.</td>
                  <td>DeBarge - Rhythm Of The Night</td>
                  <td>3:51</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>63.</td>
                  <td>Gladys Knight - License To Kill</td>
                  <td>4:12</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>64.</td>
                  <td>Gwen Guthrie - (They Long To Be) Close To You</td>
                  <td>3:46</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>65.</td>
                  <td>Level 42 - Lessons In Love</td>
                  <td>4:04</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>66.</td>
                  <td>Michael Ball - Love Changes Everything</td>
                  <td>3:32</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>67.</td>
                  <td>Bobby Brown - Every Little Step</td>
                  <td>4:36</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>68.</td>
                  <td>Suzanne Vega - Luka</td>
                  <td>3:51</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>69.</td>
                  <td>The Mission - Wasteland</td>
                  <td>3:58</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>70.</td>
                  <td>Joan Armatrading - Drop The Pilot</td>
                  <td>3:41</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>71.</td>
                  <td>Will Downing - A Love Supreme</td>
                  <td>3:50</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>72.</td>
                  <td>Sarah Brightman &amp; Cliff Richard - All I Ask Of You</td>
                  <td>4:12</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>73.</td>
                  <td>Robbie Robertson - Somewhere Down The Crazy River</td>
                  <td>4:57</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>74.</td>
                  <td>Lloyd Cole And The Commotions - Lost Weekend</td>
                  <td>3:14</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>75.</td>
                  <td>Animotion - Obsession</td>
                  <td>3:55</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>76.</td>
                  <td>Jermaine Jackson - Let&#39;s Get Serious</td>
                  <td>3:31</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>77.</td>
                  <td>Cher - I Found Someone</td>
                  <td>3:41</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>78.</td>
                  <td>Aswald - Don&#39;t Turn Around</td>
                  <td>3:21</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>79.</td>
                  <td>Visage - Fade To Grey</td>
                  <td>3:51</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>80.</td>
                  <td>Lipps Inc. - Funkytown</td>
                  <td>3:59</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>81.</td>
                  <td>The Cure - The Lovecats</td>
                  <td>3:41</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>82.</td>
                  <td>Four Tops - Don&#39;t Walk Away</td>
                  <td>4:06</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>83.</td>
                  <td>Kool &amp; The Gang - Fresh</td>
                  <td>4:22</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>84.</td>
                  <td>Elke Brooks - Fool If You Think It&#39;s Over</td>
                  <td>4:48</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>85.</td>
                  <td>Michael Sembello - Maniac</td>
                  <td>4:04</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>86.</td>
                  <td>Steve Winwood - Higer Love</td>
                  <td>4:05</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>87.</td>
                  <td>Bobby Brown - On Our Own</td>
                  <td>4:31</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>88.</td>
                  <td>Kirsty Maccoll - There&#39;s A Guy Works Down The Chip Shop Swears He&#39;s Elvis</td>
                  <td>3:08</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>89.</td>
                  <td>Nik Kershaw - The Riddle</td>
                  <td>3:53</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>90.</td>
                  <td>Brenda Russell - Piano In The Dark</td>
                  <td>4:19</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>91.</td>
                  <td>The Teardrop Explodes - Reward</td>
                  <td>2:43</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>92.</td>
                  <td>Joan Armatrading - Me Myself I</td>
                  <td>3:19</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>93.</td>
                  <td>Big Country - Wonderland</td>
                  <td>3:56</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>94.</td>
                  <td>Rockwell - Somebedy&#39;s Watching Me</td>
                  <td>3:49</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>95.</td>
                  <td>Godley &amp; Creme - Under Your Thumb</td>
                  <td>3:48</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>96.</td>
                  <td>ABC - When Smokey Sings</td>
                  <td>4:20</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>97.</td>
                  <td>Joe Jackson - It&#39;s Different For Girls</td>
                  <td>3:45</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>98.</td>
                  <td>Transvision Vamp - I Want Your Love</td>
                  <td>3:30</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>99.</td>
                  <td>The Style Councyl - Shout To The Top</td>
                  <td>4:16</td>
                </tr>
                <tr :class="{ 'is-hidden': showAll === false }">
                  <td>100.</td>
                  <td>Band Aid - Do They Know It&#39;s Christmas?</td>
                  <td>3:46</td>
                </tr>
              </tbody>
            </table>
            <div class="tracks-gradient" x-show="!showAll">
            </div>
            <div x-ref="scrollTarget">
              <button class="button is-light" @click="toggleVisibility">
                <span class="icon is-small" x-html="buttonIcon"></span>
                <span x-text="buttonText"></span>
              </button>
            </div>
          </div>
        </div>

        <h2 class="title is-size-4">Comments</h2>
        <h3 class="subtitle is-size-6 mb-0">(30 Comments)</h3>
        <div class="divider"></div>
        <% if signed_in? %>
          <div class="field" x-data="{
              comment: '',
              commentDetails() {
                if (this.comment.length > 280) {
                  return '<i class=\'fa fa-minus-square-o\'></i> ' + -(280 - this.comment.length)
                }
                else {
                  return '<i class=\'fa fa-plus-square-o\'></i> ' + (280 - this.comment.length)
                }
              },
            }"
          >
            <div class="field">
              <div class="control">
                <textarea class="textarea" rows="3" placeholder="Write a comment..." x-model="comment"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <div class="is-pulled-right">
                  <span id="comment-length" :class="comment.length <= 280 || 'comment-error'" x-html="commentDetails"></span>
                  <button class="button is-link" :disabled="comment.length == 0 || comment.length > 280">
                    <span class="icon is-small">
                      <%= fa_icon "pencil" %>
                    </span>
                    <span>Post it</span>
                  </button>
                </div>
                <div class="is-clearfix"></div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/e3a798fb9b839b3c688e44bdf3a6a423?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "iliana77", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                yesterday at 2:53pm
              </div>
              <div class="content">
                <p>
                  Twee pour-over cold-pressed photo booth fingerstache beard raw denim. Ramps chillwave yr xoxo seitan microdosing chambray. Letterpress fashion axe loko ennui sustainable stumptown slow-carb.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/c07a68329aff564e29916390f1025c8b?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "nella_schmeler94", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                yesterday at 2:53pm
              </div>
              <div class="content">
                <p>
                  3 wolf moon banjo fap pinterest fashion axe deep v. Poutine pop-up +1 wolf heirloom. Artisan tacos hoodie.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/f47856a042b5836c64922b387567ce21?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "ewell39", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on July 30
              </div>
              <div class="content">
                <p>
                  Quinoa crucifix vhs deep v. Put a bird on it polaroid small batch letterpress keffiyeh asymmetrical. Swag yolo readymade meh echo single-origin coffee. Truffaut mumblecore kogi echo fap.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/ebfb6ad212e8a4aa457fdbaabf1f28b2?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "liza10", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jul 25
              </div>
              <div class="content">
                <p>
                  Skateboard neutra narwhal hoodie plaid photo booth cleanse. Viral dreamcatcher intelligentsia knausgaard hammock. Kogi +1 skateboard park. Seitan slow-carb bespoke post-ironic yr cold-pressed. Blog selfies everyday chartreuse kogi.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/c0ad110a5a1fbec8378cd34274b6c59f?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "kirsten34", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jul 25
              </div>
              <div class="content">
                <p>
                  Taxidermy pbr&b knausgaard pabst meh selvage. Wes anderson goth banjo. Hoodie photo booth pitchfork. Pitchfork pinterest blue bottle farm-to-table meggings. Pbr&b you probably haven't heard of them viral hashtag hammock kombucha.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/f47856a042b5836c64922b387567ce21?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "ewell39", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jul 25
              </div>
              <div class="content">
                <p>
                  Microdosing park echo. Aesthetic lumbersexual gentrify celiac mumblecore franzen poutine occupy. Beard 3 wolf moon deep v park. Blog salvia tacos.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/c07a68329aff564e29916390f1025c8b?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "nella_schmeler94", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jul 25
              </div>
              <div class="content">
                <p>
                  Gastropub iphone beard shabby chic tofu artisan. Chillwave offal fingerstache hammock. Kickstarter shabby chic vegan.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/f47856a042b5836c64922b387567ce21?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "ewell39", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jul 25
              </div>
              <div class="content">
                <p>
                  Organic squid sartorial letterpress fanny pack health dreamcatcher five dollar toast. Small batch cleanse lumbersexual. Post-ironic bespoke sriracha. Humblebrag park next level biodiesel fanny pack tousled kombucha.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/702376ea382866afea31a0931ca3e21f?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "filomena_cummings67", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jul 25
              </div>
              <div class="content">
                <p>
                  Seitan salvia sartorial listicle next level messenger bag. Roof vice cold-pressed salvia semiotics. Organic cray portland intelligentsia craft beer.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="box has-background-white-ter">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= link_to album_path do %>
                  <img class="is-rounded has-image-outline" src="https://gravatar.com/avatar/a3fac396421b05f2e3777d0427a1b100?s=80&r=pg&d=identicon">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <span class="is-size-5">
                <%= link_to "hayley63", comments_path %>
              </span>
              <% if signed_in? %>
                <div class="is-pulled-right">
                  <%= link_to albums_path, class: "is-link-custom", method: :delete, data: {confirm: "Are you sure you want to this comment?"} do %>
                    <span class="icon is-small">
                      <%= fa_icon "trash-o" %>
                    </span>
                  <% end %>
                </div>
                <div class="is-clearfix"></div>
              <% end %>
              <div class="is-size-7 mt-1 mb-2">
                on Jul 25
              </div>
              <div class="content">
                <p>
                  Taxidermy asymmetrical roof quinoa williamsburg. Keytar ugh echo flexitarian $@!#%. Taxidermy knausgaard kickstarter cleanse. Sartorial fixie chambray. Shoreditch helvetica goth cray chia.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>
