<nav class="navbar is-fixed-top is-dark" x-data="{ burgerOpen: false }">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item has-text-weight-semibold" do %>
      <%= image_tag "platters-white.svg", height: "28", width: "36" %> platters
    <% end %>

    <a role="button" class="navbar-burger burger" data-target="collapse" :class="{ 'is-active': burgerOpen }" @click="burgerOpen = !burgerOpen" >
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="collapse" class="navbar-menu" :class="{ 'is-active': burgerOpen }" @keyup.escape.window="burgerOpen = false">
    <div class="navbar-start">
      <%= link_to "Artists", artists_path, class: "navbar-item has-text-weight-semibold" %>
      <%= link_to "Albums", albums_path, class: "navbar-item has-text-weight-semibold" %>
    </div>
    <div class="navbar-end" x-data="{ dropdownOpen: false }">
    <% if signed_in? %>
      <div class="navbar-item has-dropdown" :class="{ 'is-active': dropdownOpen }" @click="dropdownOpen = !dropdownOpen" @click.outside="dropdownOpen = false" @keyup.escape.window="dropdownOpen = false">
        <a class="navbar-link">
          <div class="has-text-weight-semibold">
            <span class="icon">
              <%= fa_icon "user" %>
            </span>
            <span>user</span>
          </div>
        </a>
        <div class="navbar-dropdown is-right">
          <%= link_to comments_path, class: "navbar-item" do %>
            <div>
              <span class="icon">
                <%= fa_icon "comment-o" %>
              </span>
              <span>Comments</span>
            </div>
          <% end %>
          <%= link_to account_path, class: "navbar-item" do %>
            <div>
              <span class="icon">
                <%= fa_icon "gear" %>
              </span>
              <span>Account</span>
            </div>
          <% end %>
          <%= link_to log_out_path, class: "navbar-item" do %>
            <div>
              <span class="icon">
                <%= fa_icon "sign-out" %>
              </span>
              <span>Logout</span>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to "Log in", log_in_path, class: "navbar-item has-text-weight-semibold" %>
      <div class="navbar-item has-text-weight-semibold">
        <%= link_to "Sign up", sign_up_path, class: "button is-link" %>
      </div>
    <% end %>
      </div>
  </div>
</nav>
