<nav class="navbar is-fixed-top is-dark">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item has-text-weight-semibold" do %>
      <%= image_pack_tag "platters-white.svg", height: "28", width: "36" %> platters
    <% end %>

    <a role="button" class="navbar-burger burger" data-target="collapse" data-behavior="navbar-burger-target">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="collapse" class="navbar-menu" data-behavior="navbar-menu-target">
    <div class="navbar-start">
      <a class="navbar-item has-text-weight-semibold">
        Arists
      </a>

      <a class="navbar-item has-text-weight-semibold">
        Albums
      </a>
    </div>
    <div class="navbar-end">
    <% if signed_in? %>
      <div class="navbar-item has-dropdown" data-behavior="navbar-dropdown-target">
        <a class="navbar-link">
          <div class="has-text-weight-semibold">
            <span class="icon">
              <%= fa_icon("user") %>
            </span>
            user
          </div>
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item">
            <div>
              <span class="icon">
                <%= fa_icon("comment-o") %>
              </span>
              Comments
            </div>
          </a>
          <a class="navbar-item">
            <div>
              <span class="icon">
                <%= fa_icon("gear") %>
              </span>
              Account
            </div>
          </a>
          <%= link_to log_out_path, class: "navbar-item" do %>
            <div>
              <span class="icon">
                <%= fa_icon("sign-out") %>
              </span>
              Logout
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to "Log in", log_in_path, class: "navbar-item has-text-weight-semibold" %>
      <div class="navbar-item has-text-weight-semibold">
        <a class="button is-link">
          Sign up
        </a>
      </div>
    <% end %>
      </div>
  </div>
</nav>
