<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulma Sampler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <%= render "layouts/header" %>
    <div class="flash-messages">
      <% flash.each do |key, message| %>
        <div class="notification is-<%= key == "alert" ? "danger" : "link" %>">
          <button class="delete notification-delete-target"></button>
          <% if key == "alert" %>
            <%= fa_icon "warning fw" %>
          <% elsif key == "notice" || key == "success" %>
            <%= fa_icon "info-circle fw" %>
          <% end %>
          <%= message %>
        </div>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
